<!DOCTYPE html>
<html lan="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../atomic_sass/sass/utilities/normalize.css">
    <link rel="stylesheet" href="../../atomic_sass/sass/utilities/styles.css">
  </head>
  <body>
    <header class="header">
      <div class="header__contador">
        <p>¡Bienvenidos/as a Guifos.com! ——————Donde los gifs están./////// Número de visitas: 12.765.803</p>
      </div>
      <div class="header__contenedor"><img src="undefinedgifOF_logo.png" alt="Logo1">
        <nav class="contenedor__nav"><a class="crear" href="#"></a>
          <select id="temas" name="temas">
            <option value="disabled select">Elegir tema</option>
            <option value="Sailor Day">Sailor Day</option>
            <option value="Sailor Night">Sailor Night</option>
          </select><a class="mis__guifos" href="#">Mis Guifos</a>
        </nav>
      </div>
    </header>
    <form class="busqueda">
      <input type="text" placeholder="Busca gifs, hashtags, temas, busca lo que quieras…">
      <input class="busqueda--boton" type="submit" value="buscar">
    </form>
    <section class="sugerencia">
      <h3>Hoy te sugerimos:</h3>
      <div class="sugerencia__sugerenciagifs">
        <div class="sugerencias__gif__container">
          <div class="sugerencia__gif--titulo">
            <p>#Jonathanvanness</p><img src="undefined" alt="Boton x para cerrar"/>
          </div><img src="undefined280X280.jpg" alt="imagen1"/><a href="#">Ver más..</a>
        </div>
        <div class="sugerencias__gif__container">
          <div class="sugerencia__gif--titulo">
            <p>#SailorMercury</p><img src="undefined" alt="Boton x para cerrar"/>
          </div><img src="undefined280X280.jpg" alt="imagen4"/><a href="#">Ver más..</a>
        </div>
        <div class="sugerencias__gif__container">
          <div class="sugerencia__gif--titulo">
            <p>#FabFive</p><img src="undefined" alt="Boton x para cerrar"/>
          </div><img src="undefined280X280.jpg" alt="imagen3"/><a href="#">Ver más..</a>
        </div>
        <div class="sugerencias__gif__container">
          <div class="sugerencia__gif--titulo">
            <p>#Unicorns&amp;Rainbows</p><img src="undefined" alt="Boton x para cerrar"/>
          </div><img src="undefined280X280.jpg" alt="imagen4"/><a href="#">Ver más..</a>
        </div>
      </div>
    </section>
    <section class="tendencia">
      <h3>Tendencias:</h3>
      <div class="tendencias__gif__container"><img src="undefined288X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined288X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined288X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined288X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined592X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined288X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined288X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined288X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined288X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
      <div class="tendencias__gif__container"><img src="undefined592X298.jpg" alt="gif tendencias"/>
        <p>#wink #puppie #cute #dog #hello #hi</p>
      </div>
    </section>
  </body>
</html>